body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(book-background-lots-vintage-books-600nw-2592394275.webp);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.login-container {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), url(book-background-lots-vintage-books-600nw-2592394275.webp);

}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #2980b9;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #1f6391;
}

#message {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}
